.modulos a{
	font-family: Spectral SC;
	padding-right: 20px;
	margin: 6px 80px;
	display: inline-block;  /* cajas */
	background: grey;
	color: white;
	font-size: 20px;
	padding: 10px 30px 10px 30px;
	box-shadow: 5px 10px 8px #FFD7A0;
	border-radius: 25px;
}

.modulos a:link{
	color: #33FFD4;
	text-decoration: none;
}

/* #FAD7A0 shadow anterior*/
.modulos a:hover{
	color: white;
	
	box-shadow: 20px 15px 15px #F99C32;
	font-size: 25px;

}

.modulos a:active{
	background: #3BA7E1;
	color: white;
	box-shadow: none;
}

h1{
	color: #2E4053;
	font-size: 40px; 
	font-family: verdana;
	text-align: center;
}


.modulos{

	text-align: center;
}


.salir{
	text-align: center;
	padding-top: 80px; 
}
.salir a{
	text-decoration-line: none;
	padding: 5px 30px 5px 30px;
	font-family: Spectral SC;
	color: white;
	font-size: 20px;
	box-shadow: 5px 10px 8px #FFD7A0;
	display: inline-flex;
	background: grey;
	border-radius: 20px;
}

.salir a:hover{
	color: white;
	box-shadow: 20px 15px 15px #F99C32;
	font-size: 25px;
}

.salir a:active{
	background: #3BA7E1;
	color: white;
	box-shadow: none;
}